@import "../../styles/variables";
@import "../../styles/mixins";

.filtering-block {
  background-color: $bcg-medium-light-gray;

  &__content {
    position: relative;
    left: -2.7%;
    @include flex();
    column-gap: 4px;
    padding: 33px 0 18px;
  }

  &__text {
    font-size: 12px;
    color: $color-gray;
  }

  &__button {
    font-size: 12px;
    color: $color-blue;
    text-decoration: underline;
    transition: 0.25s;
    opacity: 0.85;
    cursor: pointer;

    &:hover {
      transform: translate(0, -2px);
      opacity: 1;
    }

    &:active {
      color: $bcg-red;
    }
  }

  &__input {
    width: 100%;
    max-width: 145px;
    border: none;
    outline: none;
  }
}
