<section class="filtering-block">
  <div class="container">
    <div class="content filtering-block__content">
      <span class="text filtering-block__text">Sorting by:</span>
      <button class="button text filtering-block__button">date</button>
      <button class="button text filtering-block__button">
        count of views
      </button>
      <button class="button text filtering-block__button">
        by word or sentence
      </button>
      <input type="text" class="input text filtering-block__input" />
    </div>
  </div>
</section>
