@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.search-item {
  position: relative;
  @include flex(column, flex-start);
  height: 100%;
  width: 100%;
  background-color: $bcg-medium-light-gray;
  border-radius: 5px;

  &__img {
    max-width: 223px;
    max-height: 123px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    @include flex(column, flex-start);
    flex: 1;
  }

  &__metrics {
    margin-top: 22px;
    column-gap: 16px;
    @include flex();
  }
}

.metrics {
  &__container {
    @include flex();
  }

  &__text {
    font: 400 10px "Roboto", sans-serif;
    line-height: 12px;
    color: $color-black;
  }

  &__heading {
    margin: 21px 4% 0 0;
    width: 100%;
    color: $color-light-dark;
    font: 700 20px "Roboto", sans-serif;
    line-height: 23px;
    text-align: right;
  }

  &__button {
    margin: 0 0 15px;
    padding: 0 40px;
    font-size: 12px;
    background-color: $bcg-blue;
    border-radius: 6px;
  }
}
