<mat-card class="search-item">
  <div class="search-item__info">
    <img
      class="search-item__img"
      src="{{ item.snippet.thumbnails.maxres.url }}"
      alt="{{ item.snippet.title }}"
    />

    <app-metrics [item]="item.statistics"></app-metrics>

    <h2 class="heading text metrics__heading">
      {{ item.snippet.title.slice(0, 20) + "..." }}
    </h2>
  </div>

  <div
    appColor
    [date]="item.snippet.publishedAt"
    class="metrics__underline"
  ></div>

  <a [routerLink]="['/videos', item.id]" class="text metrics__button" mat-button
    >more...</a
  >
</mat-card>
