// colors
$color-blue: #2f80ed;
$color-light-dark: #4f4f4f;
$color-gray: #929292;
$color-light-gray: #e5e5e5;
$color-medium-gray: #929292;
$color-white: #ffffff;

// backgrounds
$bcg-light-gray: #efefef;
$bcg-blue: #2f80ed;
