// colors
$color-black: #000000;
$color-blue: #2f80ed;
$color-light-dark: #4f4f4f;
$color-gray: #929292;
$color-second-gray: #828282;
$color-medium-gray: #929292;
$color-white: #ffffff;

// backgrounds
$bcg-blue: #2f80ed;
$bcg-light-blue: #85b9ff;
$bcg-green: #27ae60;
$bcg-light-gray: #efefef;
$bcg-light-second-gray: #e0e0e0;
$bcg-medium-gray: #f2f2f2;
$bcg-medium-light-gray: #e5e5e5;
$bcg-red: #eb5757;
$bcg-yellow: #f2c94c;
