<div class="container">
  <div class="content login-page__content">
    <form
      [formGroup]="loginService.user"
      (ngSubmit)="loginService.login(loginService.user)"
      class="form login-page__form"
    >
      <h1 class="form__heading login-page__heading">Login</h1>

      <label>
        <h2 class="form__label login-page__label">login</h2>
        <input
          formControlName="name"
          name="name"
          class="input form__input login-page__input"
          [ngClass]="{
            'ng-invalid-field':
              loginService.name?.invalid && loginService.name?.touched
          }"
          placeholder="Type your name"
          autocomplete="off"
          required=""
          type="text"
        />

        <p
          *ngIf="loginService.name?.errors && loginService.name?.value"
          class="ng-invalid"
        >
          Please, be sure that your name has 3 or more symbols (without any
          numbers)
        </p>

        <p
          *ngIf="loginService.name?.errors?.['required'] && loginService.name?.touched"
        >
          Please enter a login email
        </p>
      </label>

      <label>
        <h2 class="form__label login-page__label">password</h2>
        <input
          formControlName="password"
          name="password"
          class="input form__input login-page__input"
          [ngClass]="{
            'ng-invalid-field':
              loginService.password?.invalid && loginService.password?.touched
          }"
          placeholder="Type your password"
          type="text"
          required
          minlength="8"
          autocomplete="off"
          [value]="loginService.password"
        />

        <p
          *ngIf="loginService.user?.dirty && loginService.password?.errors?.['required'] && loginService.password?.touched"
        >
          Please enter a password
        </p>

        <p
          *ngIf="
            loginService.user['dirty'] &&
            loginService.password?.errors &&
            loginService.password?.value &&
            loginService.password?.value.length >= 8
          "
          class="ng-invalid"
        >
          Your password isn't strong enough!

          <span>
            Type at least 8 characters, a mixture of both uppercase and
            lowercase, letters a mixture of letters and numbers, include of at
            least one special character, e.g., ! @ # ? ]
          </span>
        </p>

        <p
          *ngIf="
            loginService.password?.errors?.['minlength'] && loginService.password?.dirty
          "
        >
          The password is too short (type at least 8 symbols)
        </p>
      </label>

      <div class="login-page__button-container">
        <button
          [disabled]="
            !loginService.name?.value || !loginService.password?.value
          "
          class="button form__button login-page__button"
          mat-button
          type="submit"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
