<header class="header">
  <div class="container header-container">
    <div class="content header__content">
      <div class="header__search-container">
        <div class="search__container">
          <img
            class="header__logo"
            src="/assets/images/svg/logo.svg"
            alt="logo"
          />
          <form
            #form="ngForm"
            class="header__form"
            (ngSubmit)="submitForm(form)"
          >
            <input
              class="header__search-input text"
              placeholder="What are you want to find out?"
              name="query"
              [(ngModel)]="user.query"
              [value]="user.query"
            />
            <button type="submit" mat-button class="header__search-button text">
              Search
            </button>
            <button
              type="button"
              (click)="changeVisibility()"
              class="button icon icon-settings"
            ></button>
          </form>
        </div>
      </div>

      <div class="header__info-container">
        <h2 class="text header__info-text">Your name</h2>
        <span class="icon icon-user"></span>
      </div>
    </div>
  </div>
</header>
