@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.search-results {
  &__content {
    padding: 31px 7%;
  }

  &__item {
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0px #c9c9c9;
    max-height: 327px;
  }

  &__card {
    @include flex(column, space-between);
    height: 100%;
    width: 100%;
  }
}
