<ul appStretch class="list metrics__item-list">
  <li class="metrics__container">
    <span class="icon icon-viewed"></span>
    <span class="text metrics__text">
      {{ item.viewCount }}
    </span>
  </li>
  <li class="metrics__container">
    <span class="icon icon-liked"></span>
    <span class="text metrics__text">
      {{ item.likeCount }}
    </span>
  </li>
  <li class="metrics__container">
    <span class="icon icon-disliked"></span>
    <span class="text metrics__text">
      {{ item.dislikeCount }}
    </span>
  </li>
  <li class="metrics__container">
    <span class="icon icon-commented"></span>
    <span class="text metrics__text">
      {{ item.commentCount }}
    </span>
  </li>
</ul>
