@import "./styles/variables";
@import "./styles/mixins";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.content {
  @include flex();
  padding: 0 20px;
}

.button {
  border: none;
  outline: none;
  background: none;
}

.icon {
  display: inline-block;

  &-settings {
    padding: 0;
    width: 40px;
    height: 35px;
    background: url("assets/images/svg/settings.svg") 0 center/contain no-repeat;
    transition: 0.35s;
    opacity: 0.8;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  &-user {
    width: 24px;
    height: 24px;
    background: url("assets/images/svg/user.svg") 0 center/cover no-repeat;
  }

  &_color {
    &_black {
      color: $color-black;
    }
  }

  @each $icon in viewed, liked, disliked, commented {
    &-#{$icon} {
      margin-right: 3px;
      width: 15px;
      height: 13px;
      background: url("assets/images/svg/#{$icon}.svg") no-repeat;
    }
  }

  &-viewed {
    width: 24px;
  }

  &-not-found {
    background: url(./assets/images/svg/404.svg) 0 0 / contain no-repeat;
    width: 100px;
    height: 100px;
  }
}

.input {
  border: none;
  outline: none;
  box-sizing: border-box;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
