<section
  class="filtering-block"
  *ngIf="youtubeService.filteringBlockIsVisible$ | async"
>
  <div class="container">
    <div class="content filtering-block__content">
      <span class="text filtering-block__text">Sorting by:</span>
      <button
        (click)="youtubeService.changeFilter('date')"
        class="button text filtering-block__button"
      >
        date
      </button>
      <button
        (click)="youtubeService.changeFilter('views')"
        class="button text filtering-block__button"
      >
        count of views
      </button>
      <button
        (click)="youtubeService.changeFilter('keyword', input.value)"
        class="button text filtering-block__button"
      >
        by word or sentence
      </button>
      <input
        #input
        [ngModel]="(youtubeService.filterSettings$ | async)!.keyword"
        name="keyword"
        type="text"
        [value]="(youtubeService.filterSettings$ | async)!.keyword"
        (keydown.enter)="youtubeService.changeFilter('keyword', input.value)"
        class="input text filtering-block__input"
      />
    </div>
  </div>
</section>
