@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.admin-page {
  &__heading {
    margin: 0 0 11px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
  }

  &__label {
    margin: 0 0 4px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    &:nth-child(1) {
      margin-top: 5px;
    }

    &:nth-child(n + 1) {
      margin-top: 10px;
    }
  }

  &__button {
    @include flex();
    margin-left: auto;
    margin-top: 22px;
    color: $color-white;
    border-radius: 5px;

    &-container {
      text-align: right;
    }
  }
}
